#popular {
  padding: 100px 0;
  .popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--child {
      img {
        padding: 5px 5px;
        border-radius: 10px;
        border: 2px solid rgba(171, 159, 159, 0.32);
        &:hover {
          transition: .8s;
          box-shadow: 1px 0 7px 6px gray;

        }

      }
      h3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        font-size: 15px;
      }

      margin: 10px;
      border-radius: 10px;
      text-align: center;

    }
  }
}

