
#search {
  padding: 100px 0;
  .search {
    &--name{
      display: flex;
      flex-wrap: wrap;
      img {
        margin: 10px 10px;
        padding: 5px 5px;
        border-radius: 10px;
        border: 2px solid rgba(171, 159, 159, 0.32);
        &:hover {
          transition: .8s;
          box-shadow: 1px 0 7px 6px gray;

        }

      }

    }
  }
}

